/* CSS for the main file of Cookies Jar */

/* Id's */
#all
{
	font-family: sans-serif;
}

#header
{
}

#main
{
}

#fileDropArea
{
	width: 400px;
	height: 400px;
	margin: 5px;
	background-color: grey;
	
}

#fileDropInfo
{
}


#uploadUrl
{
}

#uploadStatus
{
}

/* Classes */
.container
{
}

